**/__pycache__/
wandb/
DROID/
/data/
checkpoints/
logs/
runs/
paper/
droid/
client/droid/
assets/
.venv/
client/.venv/
demos/
logs/
demos
logs
*.out
third_party/robocasa
third_party/robosuite
weights-backup/
