**/__pycache__/
wandb/
DROID/
/data/
checkpoints/
logs/
runs/
paper/
openpi/
droid/
expo_ft/agents/vla/openpi/
client/droid/
assets/
.venv/
client/.venv/
demos/
logs/
slurm-*.out
third_party/robocasa
third_party/robosuite
